.App {
  color:#333;
  border-radius:14px;
  background:white;
  margin:2em;
  min-height:20em;
  min-width:30em;
  box-shadow:0 0 1em hsla(0,0%,0%,.15);
  position: relative;
}

.App > .todoList {
  background-color: rgb(250,250,250);
  border-radius: 14px;
}
.App > .bg{
  background:url(./todo.png);
  background-size:cover;
  padding-top:43%;
  color:white;
}
.App > .bg h1{
  margin:0;
  position: absolute;
  top:13%;
  left:20px;
}
.App > .bg .todoy{
  position: absolute;
  top:20%;
  left:20px;
  font-size: 19px;
  opacity: .8;
}
.App > .bg .todoy span{
  font-size:26px;
}
.App > .bg .signOut button{
  padding:.4em;
  background:#4663F3;
  border:1px solid #4663F3;
  border-radius: 5px;
  color:#fff;
  font-weight: 600;
  position: absolute;
  top:6%;
  right:8%;
}
.todoList{
  padding-bottom:115px;
}
.inputWrapper{
  position:absolute;
  left: 0;
  bottom:0;
  width:100%;
}
.inputWrapper input{
  line-height: 2.5;
  padding-left:45px;
  border:0;
  border-top:1px solid #ccc;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius:14px;
  color:#4663F3;
  outline:none; /*取消焦点*/
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #4663F3;
    opacity: .3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #4663F3;
   opacity: .3;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #4663F3;
   opacity: .3;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #4663F3;
   opacity: .3;
}
.inputWrapper .icon{
  height:30px;
  width:30px;
  fill:#fff;
  background-color: #4663F3;
  border-radius: 16px;
  border:2px solid #4663F3;
  position:absolute;
  left: 8px;
  top:5px;
}
